* {
    padding: 0;
    margin: 0;
    border: 0;
}
/*
*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active {display: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}*/
/*---------------------------------------*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(img/background.jpg) 0 0/cover no-repeat;
}

.h1 {
    text-transform: uppercase;
    color: whitesmoke;
    /*text-decoration: underline;*/
    font-size: 40px;
    text-align: center;
    margin-top: 150px;
    text-shadow: 10px 10px 2px black;
}

.h2 {
    margin-top: 0;
    text-transform: lowercase;
    color: whitesmoke;
    font-size: 35px;
    text-align: center;
    text-shadow: 10px 10px 2px black;
}

.scroll {
    margin-top: 150px;
    margin-bottom: 50px;
    border: 10px dotted whitesmoke;
    margin-left: 35%;
    margin-right: 35%;
    height: 100px;
}

.stext {
    text-transform: lowercase;
    color: whitesmoke;
    font-size: 35px;
    padding-top: 25px;
    text-align: center;
    text-shadow: 10px 10px 2px black;
}

.img {
    margin-top: 80px;
    margin-left: 20%;
    margin-right: 20%;
    height: 500px;
    border: 10px solid white;
    background: url(img/pc.jpg);
    box-shadow: 10px 10px 2px black;
    max-width: 1150px;
}

.textbox {
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
}

.text1 {
    color: whitesmoke;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    text-shadow: 10px 10px 2px black;
}

.text2 {
    color: whitesmoke;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 10px 10px 2px black;
}

.list {
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
}

li {
    color: whitesmoke;
    font-size: 25px;
    font-weight: 700;
    text-shadow: 10px 10px 2px black;
}

span {
    margin-top: 100px;
    margin-bottom: 100px;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 10px 10px 2px black;
}

.bye {
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
}

.button {
    width: 500px;
    height: 50px;
    text-decoration: none;
    padding-top: 20px;
    color: black;
    text-align: center;
    line-height: 20px;
    display: block;
    margin: 20px auto;
    font-size: 30px;
    font-weight: 700;
    background-color: whitesmoke;
    border-radius: 20px;
}